body {
    background-color: #101729;
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    line-height: 1.5em;
}

#main {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
/*     background-color: #fff; */
/*     border-right: 1px solid #aaa; */
/*     border-left: 1px solid #aaa; */
/*     box-shadow: 0px 0px 16px rgba(0,0,0,0.2); */
}

li {
    margin-bottom: 0.5em;
}

a, a:visited {
    color: #3465a4;
}

hr {
    max-height: 1px;
    border: 1px solid #888;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

dt {
    font-weight: bold;
    margin-bottom: 0.5em;
}

dd {
    margin-bottom: 0.5em;
}

#header {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    height: 160px;
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-position: right; 
    background-color: #fafafa;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    z-index: 3;
}

/*
h1, h2 {
    text-shadow: #aaa 1px 1px 2px;
}
*/

#content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: #fafafa;
    border: 1px solid #aaa;
    border-top: 1px solid #fafafa;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
    z-index: 2;
}

#footer{
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #e0e0e0;
    border: 1px solid #aaa;
    border-top: 1px solid #fafafa;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 1;
    font-size: 90%;
}

tt {
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.sidebox {
    border: 1px solid #aaa;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
    float: right;
    width: 25em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.box {
    border: 1px solid #aaa;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#menu {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #e8e8e8;
    border: 1px solid #aaa;
    border-top: 1px solid #fafafa;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
    z-index: 4;
}

#menu ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 3px;
}

#menu li.menu_current {
    background-color: #f8f8f8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #aaa;
    border-bottom: 0;
}

#menu li a
{
    text-decoration: none;
    text-shadow: #fff 0px 0px 3px;
}

#menu li a:hover
{
    text-decoration: underline;
}

input
{
    font-size: 16pt;
    border: 1px solid #888;
    border-radius: 0.3em;
    padding: 0.2em;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

.bar
{
    background-color: #f00;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    max-width: 400px;
}

table {
    font-family: sans-serif;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    border: 1px solid #666;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

th, td
{
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

th
{
    background-color: #ddd;
    vertical-align: top;
}

th:not(:first-child)
{
    border-left: 1px solid #666;
}

td
{
    border-top: 1px solid #666;
    vertical-align: top;
}

td:not(:first-child)
{
    border-left: 1px solid #666;
}

table tr:last-child td:first-child 
{
    border-bottom-left-radius: 3px;
}
    
table tr:last-child td:last-child 
{
    border-bottom-right-radius: 3px;
}

table tr:first-child th:first-child 
{
    border-top-left-radius: 10px;
}
    
table tr:first-child th:last-child 
{
    border-top-right-radius: 10px;
}

.progress {
  background-color: #d0d0d2;
  border-radius: 4px;
  padding: 1px;
  width: 100%;
  min-width: 300px;
}

.progress div {
   background-color: #73a946;
   width: 0%;
   height: 4px;
   border-radius: 2px;
}

.progress div.over {
   background-color: #cc0000;
}

.cb {
    font-family: monospace;
    display: inline-block;
    font-size: 12pt;
    border: 1px solid #888;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    vertical-align: middle;
    margin-right: -3px;
    margin-bottom: 1px;
    border-radius: 4px;
}

.butter {
    background-image: url(butter.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.butter-dashed {
    background-image: url(butter-dashed.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.chameleon{
    background-image: url(chameleon.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.scarlet_red {
    background-image: url(scarlet_red.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.sky_blue {
    background-image: url(sky_blue.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.aluminium {
    background-image: url(aluminium.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.strike{
    background-image: url(strike.png);
    background-repeat: no-repeat;
    background-position: right top;
}

ul#submenu {
    display: block;
    list-style: none;
    padding: 0;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #888;
    text-align: center;
    line-height: 15pt;
}

ul#submenu li {
    display: inline-block;
    font-size: 9pt;
    font-family: sans-serif;
    margin-bottom: 0;
    margin-right: 1em;
}

ul#submenu li a {
    text-decoration: none;
}

ul#submenu li a:hover {
    text-decoration: underline;
}

#best_markup
{
    background-image: url(grid.png);
    background-repeat: repeat;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 3px;
}

#best_markup span {
    display: inline-block;
    text-align: center;
    margin-right: 3px;
/*     background-color: rgba(0,0,0,0.3); */
    background-color: #b8cfe7;
    border: 1px solid #2f6f91;
    margin-bottom: 3px;
    border-radius: 5px;
}
