body {
    background-color: #101729;
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    line-height: 1.4em;
}

#main {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
/*     background-color: #fff; */
/*     border-right: 1px solid #aaa; */
/*     border-left: 1px solid #aaa; */
/*     box-shadow: 0px 0px 16px rgba(0,0,0,0.2); */
}

li {
    margin-bottom: 0.5em;
}

a, a:visited {
    color: #3465a4;
}

hr {
    max-height: 1px;
    border: 1px solid #888;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

dt {
    font-weight: bold;
    margin-bottom: 0.5em;
}

dd {
    margin-bottom: 0.5em;
}

#header {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    height: 160px;
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-position: right; 
    background-color: #fafafa;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    z-index: 2;
}

/*
h1, h2 {
    text-shadow: #aaa 1px 1px 2px;
}
*/

#content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #fafafa;
    border: 1px solid #aaa;
    border-top: 1px solid #fafafa;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 1;
}

tt {
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
